# Assemble Boston dataframe

In [139]:
import pandas as pd
%matplotlib inline
import glob
import numpy as np
import matplotlib.pyplot as plt

In [161]:
# read in the data
datafiles = glob.glob('../Data/Boston/hubway_trips_small.csv')
datafiles

['../Data/Boston/hubway_trips_small.csv']

In [162]:
dall = [pd.read_csv(datafile) for datafile in datafiles]
dconcat = pd.concat(dall)

In [163]:
temp = pd.DatetimeIndex(dconcat['start_date'])
dconcat['start_day'] = temp.date
#dconcat['start_time'] = temp.time
dconcat['nrides'] = np.ones(len(dconcat))
dconcat = dconcat.rename(columns={'strt_statn': 'stationid'})

###### Add features for number of rides and number of stations per day.  Appoximate number of stations as number of unique start stations.

In [185]:
databydaygroup = dconcat.groupby(["start_day", "stationid"], as_index=False)

In [186]:
dconcat.columns

Index([u'seq_id', u'hubway_id', u'status', u'duration', u'start_date',
       u'stationid', u'end_date', u'end_statn', u'bike_nr', u'subsc_type',
       u'zip_code', u'birth_date', u'gender', u'start_day', u'nrides'],
      dtype='object')

In [187]:
databyday = databydaygroup.agg({"nrides": lambda x: x.sum(), "duration": lambda x: np.median(x)})

In [149]:
databyday = dconcat.groupby(["start_day", "strt_statn"], as_index=False).agg("nrides": lambda x: x.sum()})

SyntaxError: invalid syntax (<ipython-input-149-4fc87db399b5>, line 1)

###### Add features for day of week, day of year, and years since start of program

In [188]:
databyday

       start_day  stationid  duration  nrides
0     2011-07-28          3     641.0       8
1     2011-07-28          5     545.0       9
2     2011-07-28          6     865.0       3
3     2011-07-28          8    1201.0       9
4     2011-07-28          9     504.5       8
5     2011-07-28         10     963.5      10
6     2011-07-28         12     711.0       5
7     2011-07-28         13     483.0       3
8     2011-07-28         14     862.0       3
9     2011-07-28         15    1678.0       3
10    2011-07-28         16    1611.5       8
11    2011-07-28         17     122.0       2
12    2011-07-28         20    2106.0       5
13    2011-07-28         21    1104.0      10
14    2011-07-28         22     899.0      41
15    2011-07-28         23     726.0      41
16    2011-07-28         24     784.0       9
17    2011-07-28         25     976.0      10
18    2011-07-28         26    1153.0       5
19    2011-07-28         27    1267.0       3
20    2011-07-28         31     723.0       5
21    2011-07-28         32    1212.0       4
22    2011-07-28         33     711.0      14
23    2011-07-28         34     659.0       3
24    2011-07-28         35     907.0      14
25    2011-07-28         36     788.0      30
26    2011-07-28         38    1266.0      23
27    2011-07-28         39     647.5       8
28    2011-07-28         40    1504.5      18
29    2011-07-28         41    1302.0       9
...          ...        ...       ...     ...
4003  2011-10-16         33    1014.0      30
4004  2011-10-16         34    1010.0       4
4005  2011-10-16         35    1781.0      15
4006  2011-10-16         36     956.0      59
4007  2011-10-16         37    4630.0       7
4008  2011-10-16         38    1399.0      11
4009  2011-10-16         39     675.0      21
4010  2011-10-16         40     990.0      23
4011  2011-10-16         41    1841.0      24
4012  2011-10-16         42    1349.5      62
4013  2011-10-16         43     871.5      14
4014  2011-10-16         44    2132.0      14
4015  2011-10-16         45     778.0      25
4016  2011-10-16         46     826.0      33
4017  2011-10-16         47    1608.0      24
4018  2011-10-16         48     315.0       3
4019  2011-10-16         49     961.5      20
4020  2011-10-16         50     369.5       8
4021  2011-10-16         51     755.0       5
4022  2011-10-16         52    1037.5      34
4023  2011-10-16         53    2038.5      30
4024  2011-10-16         54    1169.0      27
4025  2011-10-16         55    1171.0      32
4026  2011-10-16         56     969.5      14
4027  2011-10-16         57     523.0      18
4028  2011-10-16         58    3461.5      30
4029  2011-10-16         59     933.5       6
4030  2011-10-16         60    1776.0      41
4031  2011-10-16         61     522.0      15
4032  2011-10-16         62    1140.0       5

[4033 rows x 4 columns]

In [189]:
tempdate = pd.DatetimeIndex(databyday['start_day'])
databyday['deltayear'] = tempdate.year - tempdate.year[0]
databyday['dayofweek'] = tempdate.dayofweek
databyday['dayofyear'] = tempdate.dayofyear

###### Add climate features: daily high temperature [centi-Celsius], daily low temperature [centi-Celsius], daily precipitation [centi-mm]

In [191]:
climatedata = pd.read_csv('../Data/climate/boston20112014.csv', \
                          converters={'DATE': lambda x: x[0:4] + '-' + x[4:6] + '-' + x[6:8]})

In [192]:
climatedata1 = climatedata[['DATE', 'PRCP', 'SNOW', 'TMAX', 'TMIN']]

In [193]:
climatedaydata = climatedata1.groupby('DATE', as_index=False).agg(lambda x: np.median(x[x > -9999]))

In [194]:
tempdate = pd.DatetimeIndex(climatedaydata['DATE'])
climatedaydata['start_day'] = tempdate.date
climatedaydata = climatedaydata.drop('DATE', axis=1)

In [196]:
databyday = databyday.merge(climatedaydata, on='start_day')

###### Add feature for origin and destination density

In [138]:
databyday.to_csv('../Data/Boston/BostonFeatures.csv')